<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta arroz con pollo</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
<h1>Como hacer un arroz con pollo</h1>
<img src="../Images/arroz con pollo.jfif" alt="Foto de arroz con pollo" width="500" height="250">
<h2>Ingredientes:</h2>
<ul>
    <li>500 gramos de pollo en cubos</li>
    <li>1 cebolla picada</li>
    <li>1 zanahoria en rueditas</li>
    <li>1/2 taza de arvejas cocidas (opcional)</li>
    <li>1 taza de arroz</li>
    <li>1 litro de agua</li>
    <li>2 Knorr Caldo de Gallina</li>
    <li>pimienta (a gusto)</li>
    <li>perejil fresco picado (a gusto)</li>
</ul>
<h3>Pasos a seguir:</h3>
<ol type="i">
    <li>En una cacerola con un poco de aceite saltear los cubos de pollo.</li>
    <li>Agregar los vegetales y cocinar por 3 minutos a fuego bajo</li>
    <li>Sumar el agua, el caldo cubo Knorr, el arroz y cocinar por 15 a 20 minutos a fuego medio o hasta que resulte bien cocido.</li>
    <li>Agregar las arvejas y condimentar.</li>
    <li>Servir en plato hondo, decorar con el perejil picado y ¡a disfrutar!</li>
</ol>
<iframe width="500" height="250" src="https://www.youtube.com/embed/168HrdzakaA" title="Arroz con Pollo - Receta fácil, rápida y deliciosa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>
    Receta original de <a href="https://www.knorr.com/ar/r/arroz-con-pollo-by-knorr.html/109876?gad_source=1&gclid=CjwKCAjwl6-3BhBWEiwApN6_kqwsiqAPfX43W15u9jcH2PjKLta83eMYUl6UQQOJFbVFKXjJXIOZihoCMWgQAvD_BwE&gclsrc=aw.ds" target="_blank">
        <strong>Knorr</strong>
    </a>
</p>
<p> Leer receta adicional <a href="carneAlHorno.html" target="_blank">
<strong>carne al horno</strong>
</a>
</p>
<a href="../../index.html">
    Volver al inicio
</a>
</body>
</html>